@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: sans-serif;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .product {
    width: calc(25% - 10px); 
    margin-bottom: 20px;
    width: 450px;
    height: 600px;
    border: solid rgba(128, 128, 128, 0.203) 2px;
   border-radius: 10px;   
  
  }
  
  .image{
    width: 100%;
    height: auto;
  }
  
  .product h3 {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .product p {
    font-size: 14px;
    color: #888;
  }
  .image1{
    width: 20px;
    margin-bottom: 35px;
    
   padding-left: 60px;    
  
  }
  .image2{
    width: 20px;
    margin-top: 45px;
    margin-left: -20%;
  
  }
  .main{
    display: flex;
    justify-content: space-between;
  }
  .image1-2{
    margin-top: 9px;
  }
  .gad{
    margin-right: -10px;   
    padding-left: 18px; 
  }
  .title{
  padding-left: 18px;
  }
  .price{
    padding-left: 18px;
  }
  .input{
    text-align: center;
  }
  
  p{
    font-size: 24px;
    text-align: center;
  }
  .background-1{
    width: 100px;
    height: 100px;
    background-color: orange;
    position: fixed;
    right: 0;
    margin-top: 360px;
    border-radius: 5px;
    text-align: center;
  }
  .text-1{
    width: 80px;
    height: 20px;
    background-color: white;
    margin-top: 0px;
    border-radius: 5px;
    border: none;
  }
.items{
  margin-top: 20px;
  font-size: 18px;
}
.background-2{
  width: 380px;
  background-color: lightblue;
  height: 100%;
  position: fixed;
  right: 0;
}